/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  /*width: 100vw;*/
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  /*border-right: 1px solid #B29999;*/
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

input[type=radio], input[type=checkbox] {
    margin: 0px ;
    
}

.radio_ label {
    display: block;
}
.radio_ input#fag-show-title {
    margin-left: 15px !important;
}
p.description {
     color: #fff; 
}

.fpp_border_left {
    border-right: 2px solid #ddd;
}

label {
    color: #0085ba;
}
.main-head {
    background-color: #0085ba;
    padding: 15px 11px;
    margin-bottom: 20px;
}
.main-head label{
   color: #fff;
       font-weight: 700;
}
input#PGF_Thumb_Limit, select#PGF_Gallery_Layout {
    border: 1px solid #514f4f;
}
@media(min-width:1200px){
label {
    width: 30%;
}
.CodeMirror.cm-s-blackboard.CodeMirror-wrap {
    width: 50%;
    display: inline-table;
}
p.custnote {
    margin-left: 30%;
}
}

.metasettings {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(145,145,145,0.67);
    -moz-box-shadow: 10px 10px 5px 0px rgba(145,145,145,0.67);
    box-shadow: 10px 10px 5px 0px rgba(145,145,145,0.67);
    padding-left: 25px;
}
.meta-lbl{
  color: #fff;
}
.meta-link{
  color: #428bca;
}
input#pgf-gal-desc-text {
        border: 1px solid #514f4f;
  }
  .meta-link:hover {
    color: #428bca;
    text-decoration: none;
}
@media(min-width:1200px){
  .form-group {
    margin-left: 30% !important;
}
input#pgf-gal-desc-text {
    width: 38%;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #514f4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gal-desc-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}

.thumb_limit_text{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
}
select#PGF_Gallery_Layout {
    padding: 9px 20px;
    height: 48px;
    font-size:16px;
    }

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}



label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  border: 1px solid transparent;
}

label:before {
  font-family: Font Awesome\ 5 Free;
  font-weight: normal;
  margin-right: 10px;
}



label:hover {
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
input#tab1,#tab2 {
    display: none;
}
.flickr_api {
    margin: 30px 0;
}

.flick_maindiv {
    background-color: #fff;
    padding: 4px;
}
label.flick_lbl {
    color: #514f4f;
}
select#PGF_Select_Lightbox {
    height: 48px;
    border: 1px solid #514f4f;
    padding: 9px 32px;
}
#PGF_Lightbox_Type{
  padding: 9px 20px;
  height: 48px;
  font-size:16px;
  border: 1px solid #514f4f;
}
.upg_anch{
  text-decoration: none;
    color: #fff;
    padding: 12px;
    background-color: #3ea65a;
}
.update_pro_button a {
    font-size: 24px;
    color: #fff;
    padding: 13px;
    background: #2c9968;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 4px;
}
div#FlickrAlbumGalleryPro {
    background-color: #282e2e;
    color: #fff;
    text-align: center;
}
span.prospan {
    background-color: #2c9968;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 4px;
    margin-left: 4px;
}
span.prospan_layout {
    background-color: #2c9968;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 4px;
    margin-left: 4px;
}
img.csm_getpro.img-responsive {
    margin-left: -13px;
}
